"use strict";

// You can obtain access tokens e.g. this way: http://dghubble.com/blog/posts/twitter-app-write-access-and-bots/
module.exports = {
  twitter : {
    screen_name : "TWITTER_BOT_SCREEN_NAME_WITHOUT_@",
    consumer_key: "TWITTER_APP_KEY",
    consumer_secret: "TWITTER_APP_SECRET",
    access_token: "TWITTER_BOT_ACCESS_TOKEN",
    access_token_secret: "TWITTER_BOT_ACCESS_TOKEN_SECRET"
  },
  webhook: {
    callback_url: "CALLBACK_URL",
    secret_token: "SECRET_TOKEN_SHARED_WITH_WEBHOOK_PROVIDER"
  }
}
